Options -Indexes -MultiViews

# 2.5 MB
php_value upload_max_filesize 2621440

<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_ssl.c>
        # Force SSL
        RewriteCond %{HTTPS} !on
        RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    </IfModule>

    # Silex
    RewriteRule ^api api.php [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css text/html text/javascript application/javascript image/png
</IfModule>
