<IfModule mod_rewrite.c>
	Options -Indexes -MultiViews

	RewriteEngine On
	<IfModule mod_ssl.c>
		# Force SSL
		RewriteCond %{HTTPS} !on
		RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	</IfModule>

	# Silex
	RewriteRule ^api api.php [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]
</IfModule>
