Options -Indexes -MultiViews

<IfModule mod_ssl.c>
	# Force SSL
	RewriteCond %{HTTPS} !on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
	# Silex
	RewriteRule ^api api.php [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css text/html text/javascript application/javascript image/png
</IfModule>
