@font-face {
	font-family: "Coda";
	src: url("coda.regular.ttf") format("truetype");
}

body {
	background: #000;
	color: #00BBB1;
	font-family: "Coda", sans-serif;
}

body table {
	margin-left: auto;
	margin-right: auto;
}

body table th {
	text-align: left;
	color: #F4CF47;

	background: rgba(146,124,43,1);/* Old Browsers */
	background: -moz-linear-gradient(left, rgba(146,124,43,1) 0%, rgba(241,231,103,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(146,124,43,1)), color-stop(100%, rgba(241,231,103,0)));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(146,124,43,1) 0%, rgba(241,231,103,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(146,124,43,1) 0%, rgba(241,231,103,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(146,124,43,1) 0%, rgba(241,231,103,0) 100%); /* IE 10+ */
	background: linear-gradient(to right, rgba(146,124,43,1) 0%, rgba(241,231,103,0) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#927c2b', endColorstr='#f1e767', GradientType=1 );/* IE6-9 */
}

body table tr td:nth-child(2) {
	text-align: right;
}

body input[type="submit"] {
	background: #005951;
	border: 2px solid #00D8E1;
	color: #00FFFF;
	width: 100%;
	height: 40px;
	font-family: "Coda";
	font-size: 16pt;
}
