<p>
<strong>tl;dr:</strong> You are in control of your individual data. We will not share, sell or disseminate your individual data in any way other than what is available through Stat Tracker.
</p>
<p/>

<p>
The data your submit to Stat Tracker is owned by you. You can have it removed at any time. 
</p>

<p>
Your data may be anonymized and used in bulk analysis to determine team trends.
</p>

<p>
Stat Tracker does not consider data more than thirty (30) days old. Your data older than 30 days may be removed automatically.
</p>

<p>
Stat Tracker is a service provided with NO WARRANTY OR GUARANTEE.
</p>

<p>
The developers of Stat Tracker (listed at the bottom of all pages) are not responsible for any unauthorized access to the data stored in Stat Tracker, and will make all reasonable efforts to keep it from being accessed by unauthorized parties.
</p>

<p>
Please contact <strong>{{ attribute(constants, 'admin_agent') }}</strong> with question about Stat Tracker.
</p> 
