@header-color: rgba(244, 207, 71, 1);
@leaderboard-hover-color: rgba(244, 207, 71, .5);
@text-color: rgba(4, 234, 245, 1);
@title-color: rgba(255, 219, 84, 1);

@resistance-color: rgba(0, 191, 255, 1);
@enlightened-color: rgba(43, 237, 27, 1);

@upcoming-badge-height: 85;
@upcoming-badge-time-margin: @upcoming-badge-height / 7;
@upcoming-badge-width: 270;

@ratio-height: 105;
@ratio-seperator-padding: @ratio-height / 5;
@ratio-width: 180;

html {
    height: 100%;
}

a[href] {
    color: @text-color;
    text-decoration: underline;
}

body {
    background: rgba(0, 0, 0, 1);
    color: @text-color;
    font-family: "Coda", sans-serif;
    font-size: 16px;
    height: inherit;
    margin: 0;
    min-height: 100%;
    padding: 0;
    padding-top: 50px;
    position: relative;

    #message, .message {
        background: #102023;
        border: 2px solid rgba(0, 216, 225, 1);
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        max-width: 450px;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .message.error {
        &:extend(.message);
        border: 2px solid rgba(231, 77, 77, 1);
        color: rgba(231, 77, 77, 1);
    }
}

/* Pre-load certain images */
body:after {
    display: none;
    content: url("./resources/images/badges_75.png") url("./resources/images/levels_75.png") url("./resources/images/rank_arrows.png");
}

div.fakeupload {
    position: relative;
    top: -40px;
    left: 0px;
    z-index: 1;
}

footer, .small-text {
    font-size: 75%;
}

footer {
    height: 100px;
    margin-top: -100px;
    padding: 10px;
    text-align: center;
    width: 100%;

    a[href] {
        color: @text-color;
        text-decoration: underline;
    }
}

form#ocr {
    margin: 0 auto;
    max-height: 40px;
    max-width: 440px;
}

h2, h3, h4 {
    color: @title-color;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
}

img.badge-icon {
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

img.small-badge-icon {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

input[type="number"], input[type="text"][name="date"] {
    background-color: black;
    border: 0;
    color: @header-color;
    font-family: "Coda";
    text-align: right;
}

input[type="text"][name="date"] {
    background-image: url("./resources/images/calendar.png");
    background-position: top right;
    background-size: 22px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-right: 25px;
}

input[type="number"].increase {
    border: 1px solid green;
}

input[type="number"].error {
    border: 1px solid red;
}

input[type="number"].warning {
    border: 1px solid yellow;
}

input[type="number"][value=""] {
    border: 1px solid red;
}

input[type="submit"], input[type="button"], input.button {
    background: linear-gradient(to bottom, #0ea0ab -25%, #20474B 15%, #20474B 85%, #0ea0ab 125%);
    border: 2px solid rgba(0, 216, 225, 1);
    color: rgba(0, 255, 255, 1);
    cursor: pointer;
    font-size: 125%;
    width: 100%;
    height: 40px;
    font-family: "Coda";
}

input[type="file"] {
    border: 1px solid red;
    cursor: pointer;
    height: 40px;
    opacity: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"].upload-screenshot::before {
    content: "Upload a Screenshot";
    -webkit-user-select: none;
}

nav {
    a[href] {
        text-decoration: none;
    }

    &.headroom {
        transition: transform 200ms linear;
    }

    &.headroom--pinned {
        transform: translateY(0%);
    }

    &.headroom--unpinned {
        transform: translateY(-100%);
    }

    .scrollable-menu {
        height: auto;
        max-height: 340px;
        overflow-x: hidden;
    }
}

table {
    th {
        color: @header-color;
        text-align: left;
    }
}

table#stat-entry {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
    width: 95%;

    th {
        border-top: solid 1px #7a6428;
        border-bottom: solid 1px #7a6428;
        /*color:rgb(244, 207, 71);*/
        /* fallback */
        background-color: #0d0a05;
        background-image: url("./resources/images/linear_bg_1.png");
        background-repeat: repeat-y;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, left top, right top, from(#0d0a05), to(#4a3d19));
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(left, #4a3d19, #0d0a05);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, #4a3d19, #0d0a05);
        /* IE 10 */
        background: -ms-linear-gradient(left, #4a3d19, #0d0a05);
        /* Opera 11.10+ */
        background: -o-linear-gradient(left, #4a3d19, #0d0a05);
        padding-left: 2px;
    }

    td {
        text-align: left;
    }

    td:nth-child(2) {
        color: @header-color;
        text-align: right;

        span {
            padding-right: 13px;
        }
    }

    input[type="submit"] {
        cursor: pointer;
        margin-top: 20px;
    }

    select {
        color: black;
    }
}

#agent-info {
    color: @header-color;
    font-size: 125%;
    margin: 0 auto;
    max-width: 440px;
    padding: 15px 0 10px 0;
    position: relative;
    text-align: left;
    width: 95%;

    .avatar {
        float: left;
    }

    .about {
        padding-left: 87px;

        .name, .level {
        }

        .ap {
            border-top: 5px solid @header-color;

            input {
                padding: 0;
                text-align: left;
                width: 115px;
            }
        }
    }
}

 #login-dialog {
    border: 2px solid rgba(0, 216, 225, 1);
    background: #1A2527;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    width: 90%;

    p:nth-child(1) {
        margin: 5px;
        text-align: left;
        text-transform: uppercase;
    }

    #login-buttons {
        padding: 10px 0;

        * {
            cursor: pointer;
        }

        .google {
            a {
                display: block;
                margin: 0 auto;
                width: 160px;
                height: 54px;
                background: url("./resources/images/google_signin_54.png");
                background-position: 0px 0px;

                span {
                    display: none;
                }
            }

            a:hover {
                background-position: 0px 54px;
            }

            a:active {
                background-position: 0px 108px;
            }

        }

        .wordpress {
            a {
                display: block;
                margin: 0 auto;
                width: 160px;
                height: 54px;
                background: url("./resources/images/wp.png");
                background-position: 0px 0px;

                span {
                    display: none;
                }
            }

             a:hover {
                background-position: 0px 54px;
            }
        }
    }

    #login-message {
        text-align: center;

        + p {
            margin-top: 20px;
        }
    }
}

#main-content {
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
}

#popup {
    position: absolute;
    padding-top: 50px;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    background-color: black;
    word-wrap: break-word;

    table {
        margin-bottom: 15px;

        td, th {
            text-align: center;
            vertical-align: top;
            word-break: break-all;
            word-wrap: break-word;
        }

        th {
            width: 100px;
        }
    }

    > * {
        margin: 0 auto;
        max-width: 90%;
    }

    > h3 {
        padding-top: 15px;
    }

    #qr {
        padding: 25px 0;
    }

    > p {
        padding-bottom: 10px;
    }

    p#name {
        color: @header-color;

        span {
            color: @text-color;
        }
    }

    p#instructions {
    }

    > a {
        color: @leaderboard-hover-color;
        padding-top: 10px;
    }

    > a img {
        padding: 20px;
    }
}

#ratios {
    margin: 0 auto;
    min-width: ~"@{ratio-width}px";

    .ratio {
        color: white;
        display: inline-block;
        font-size: 110%;
        height: ~"@{ratio-height}px";
        margin: 0 15px 20px 15px;

        .badges {
            > * {
                float: left;
            }

            .seperator {
                padding-top: ~"@{ratio-seperator-padding}px";
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .value {
        }
    }
}

#submit-actions {
    margin: 40px auto;
    max-width: 440px;

    .email {
        padding-top: 40px;
    }
}

#upcoming_badges {
    margin: 0 auto;
    width: ~"@{upcoming-badge-width}px";
}

.resistance-agent { color: @resistance-color; }
.enlightened-agent { color: @enlightened-color; }

.badge-display {
    p {
        display: none;
    }

    .badge-image.progress-overlay {
        position: relative;

        + p {
            display: block;
            font-size: 24px; /* fixed size because it sits on the image */
            position: absolute;
            top: 21px;
            left: 0px;
            color: white;
            font-weight: bold;
            width: 100%;

            span:nth-child(2) {
                display: none;
            }
        }
    }

    div.badge-name {
        display: none;
    }
}

.badge-icon-75 {
    height: 75px;
    width: 75px;
    background-image: url("./resources/images/badges_75.png");
    background-position: -375px -150px;
}

.badge-icon-75.none {
    background-image: url("./resources/images/locked_badge_75.png");
}

.badge-icon-75.builder.bronze   { background-position: 5px 1px; }
.badge-icon-75.builder.silver   { background-position: 5px -75px; }
.badge-icon-75.builder.gold     { background-position: 5px -151px; }
.badge-icon-75.builder.platinum { background-position: 5px -225px; }
.badge-icon-75.builder.onyx     { background-position: 5px -301px; }

.badge-icon-75.connector.bronze   { background-position: -71px 0px; }
.badge-icon-75.connector.silver   { background-position: -71px -76px; }
.badge-icon-75.connector.gold     { background-position: -71px -150px; }
.badge-icon-75.connector.platinum { background-position: -71px -226px; }
.badge-icon-75.connector.onyx     { background-position: -71px -300px; }

.badge-icon-75.engineer.bronze   { background-position: -971px 0px; }
.badge-icon-75.engineer.silver   { background-position: -971px -76px; }
.badge-icon-75.engineer.gold     { background-position: -971px -150px; }
.badge-icon-75.engineer.platinum { background-position: -971px -226px; }
.badge-icon-75.engineer.onyx     { background-position: -971px -300px; }

.badge-icon-75.explorer.bronze   { background-position: -146px 1px; }
.badge-icon-75.explorer.silver   { background-position: -146px -75px; }
.badge-icon-75.explorer.gold     { background-position: -146px -151px; }
.badge-icon-75.explorer.platinum { background-position: -146px -225px; }
.badge-icon-75.explorer.onyx     { background-position: -146px -301px; }

.badge-icon-75.guardian.bronze   { background-position: -221px 0px; }
.badge-icon-75.guardian.silver   { background-position: -221px -76px; }
.badge-icon-75.guardian.gold     { background-position: -221px -150px; }
.badge-icon-75.guardian.platinum { background-position: -221px -226px; }
.badge-icon-75.guardian.onyx     { background-position: -221px -300px; }

.badge-icon-75.hacker.bronze   { background-position: -296px 1px; }
.badge-icon-75.hacker.silver   { background-position: -296px -75px; }
.badge-icon-75.hacker.gold     { background-position: -296px -151px; }
.badge-icon-75.hacker.platinum { background-position: -296px -225px; }
.badge-icon-75.hacker.onyx     { background-position: -296px -301px; }

.badge-icon-75.illuminator.bronze   { background-position: -1196px 1px; }
.badge-icon-75.illuminator.silver   { background-position: -1196px -75px; }
.badge-icon-75.illuminator.gold     { background-position: -1196px -151px; }
.badge-icon-75.illuminator.platinum { background-position: -1196px -225px; }
.badge-icon-75.illuminator.onyx     { background-position: -1196px -301px; }

.badge-icon-75.liberator.bronze   { background-position: -371px 0px; }
.badge-icon-75.liberator.silver   { background-position: -371px -76px; }
.badge-icon-75.liberator.gold     { background-position: -371px -150px; }
.badge-icon-75.liberator.platinum { background-position: -371px -226px; }
.badge-icon-75.liberator.onyx     { background-position: -371px -300px; }

.badge-icon-75.mindcontroller.bronze   { background-position: -446px 1px; }
.badge-icon-75.mindcontroller.silver   { background-position: -446px -75px; }
.badge-icon-75.mindcontroller.gold     { background-position: -446px -151px; }
.badge-icon-75.mindcontroller.platinum { background-position: -446px -225px; }
.badge-icon-75.mindcontroller.onyx     { background-position: -446px -301px; }

.badge-icon-75.pioneer.bronze   { background-position: -521px 0px; }
.badge-icon-75.pioneer.silver   { background-position: -521px -76px; }
.badge-icon-75.pioneer.gold     { background-position: -521px -150px; }
.badge-icon-75.pioneer.platinum { background-position: -521px -226px; }
.badge-icon-75.pioneer.onyx     { background-position: -521px -300px; }

.badge-icon-75.purifier.bronze   { background-position: -596px 1px; }
.badge-icon-75.purifier.silver   { background-position: -596px -75px; }
.badge-icon-75.purifier.gold     { background-position: -596px -151px; }
.badge-icon-75.purifier.platinum { background-position: -596px -225px; }
.badge-icon-75.purifier.onyx     { background-position: -596px -301px; }

.badge-icon-75.recharger.bronze   { background-position: -671px 0px; }
.badge-icon-75.recharger.silver   { background-position: -671px -76px; }
.badge-icon-75.recharger.gold     { background-position: -671px -150px; }
.badge-icon-75.recharger.platinum { background-position: -671px -226px; }
.badge-icon-75.recharger.onyx     { background-position: -671px -300px; }

.badge-icon-75.seer.bronze   { background-position: -746px 1px; }
.badge-icon-75.seer.silver   { background-position: -746px -75px; }
.badge-icon-75.seer.gold     { background-position: -746px -151px; }
.badge-icon-75.seer.platinum { background-position: -746px -225px; }
.badge-icon-75.seer.onyx     { background-position: -746px -301px; }

.badge-icon-75.sojourner.bronze   { background-position: -1271px 0px; }
.badge-icon-75.sojourner.silver   { background-position: -1271px -76px; }
.badge-icon-75.sojourner.gold     { background-position: -1271px -150px; }
.badge-icon-75.sojourner.platinum { background-position: -1271px -226px; }
.badge-icon-75.sojourner.onyx     { background-position: -1271px -300px; }

.badge-icon-75.specops.bronze   { background-position: -896px 1px; }
.badge-icon-75.specops.silver   { background-position: -896px -75px; }
.badge-icon-75.specops.gold     { background-position: -896px -151px; }
.badge-icon-75.specops.platinum { background-position: -896px -225px; }
.badge-icon-75.specops.onyx     { background-position: -896px -301px; }

.badge-icon-75.translator.bronze   { background-position: -1121px 0px; }
.badge-icon-75.translator.silver   { background-position: -1121px -76px; }
.badge-icon-75.translator.gold     { background-position: -1121px -150px; }
.badge-icon-75.translator.platinum { background-position: -1121px -226px; }
.badge-icon-75.translator.onyx     { background-position: -1121px -300px; }

.badge-icon-75.trekker.bronze   { background-position: -821px 0px; }
.badge-icon-75.trekker.silver   { background-position: -821px -76px; }
.badge-icon-75.trekker.gold     { background-position: -821px -150px; }
.badge-icon-75.trekker.platinum { background-position: -821px -226px; }
.badge-icon-75.trekker.onyx     { background-position: -821px -300px; }

.dashboard-container, .settings-container {
    .breakdown {
        display: inline-block;
        vertical-align: top;
        width: 100%;

        > div {
            margin: 0 auto;
            width: 300px;
        }
    }

    .container {
    	padding-left: 0px !important;
    	padding-right: 0px !important;
    
        table {
            margin: 0 auto;
            
            td, th {
                min-width: 75px;
                text-align: center;
            }
        }

        .item {
            display: inline-block;
            text-align: center;
            max-width: 500px;
            vertical-align: top;
            width: 100%;

            table {
                margin-bottom: 10px;
            }
        }

        @media (min-width: 1000px) {
            .item {
                margin: 0px 25px;
            }
        }
    }

    .predictions {
    }

    .prediction {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        max-width: 500px;
    }
}

.leaderboard {
    display: inline-block;
    max-width: 425px;
    vertical-align: top;
    width: 100%;

    a[name] {
        display: block;
        position: relative;
        text-decoration: none;
        top: -100px;
        visibility: hidden;

        h3 {
            top: 100px;
            position: relative;
            visibility: visible;
        }
    }

    .rank-diff {
        color: @header-color;
        cursor: help;
        display: inline-block;

        .arrow {
            background-image: url("./resources/images/rank_arrows.png");
            background-repeat: no-repeat;
            display: inline-block;
            height: 12px;
            padding-right: 20px;
            width: 15px;
        }

        .up {
            background-position: 0px 0px;
        }

        .down {
            background-position: 0px -12px;
        }
    }

    table {
        border-spacing: 0px;
        text-align: left;
        width: 95%;

        th {
            cursor: pointer;
        }

        tr {
            background: none;
            > th {
                background: none;
                padding-right: 10px;
            }

        }

        th, td {
            margin: 0;
            padding: 0;
        }

        tr:hover td, tr.highlight {
            background-color: @leaderboard-hover-color;
        }
    }
}

.leaderboard-selector, .graph-selector {
    font-size: 95%;
    margin-bottom: 18px;
}

.level-icon-75 {
    height: 75px;
    width: 75px;
    background-image: url("./resources/images/levels_75.png");
    background-position: 0px 0px;
}

.level-icon-75.resistance-agent.l1 { background-position: 0px 0px; }
.level-icon-75.resistance-agent.l2 { background-position: -75px 0px; }
.level-icon-75.resistance-agent.l3 { background-position: -150px 0px; }
.level-icon-75.resistance-agent.l4 { background-position: -225px 0px; }
.level-icon-75.resistance-agent.l5 { background-position: -300px 0px; }
.level-icon-75.resistance-agent.l6 { background-position: -375px 0px; }
.level-icon-75.resistance-agent.l7 { background-position: -450px 0px; }
.level-icon-75.resistance-agent.l8 { background-position: -525px 0px; }
.level-icon-75.resistance-agent.l9 { background-position: -600px 0px; }
.level-icon-75.resistance-agent.l10 { background-position: -675px 0px; }
.level-icon-75.resistance-agent.l11 { background-position: -750px 0px; }
.level-icon-75.resistance-agent.l12 { background-position: -825px 0px; }
.level-icon-75.resistance-agent.l13 { background-position: -900px 0px; }
.level-icon-75.resistance-agent.l14 { background-position: -975px 0px; }
.level-icon-75.resistance-agent.l15 { background-position: -1050px 0px; }
.level-icon-75.resistance-agent.l16 { background-position: -1125px 0px; }

.level-icon-75.enlightened-agent.l1 { background-position: 0px 75px; }
.level-icon-75.enlightened-agent.l2 { background-position: -75px 75px; }
.level-icon-75.enlightened-agent.l3 { background-position: -150px 75px; }
.level-icon-75.enlightened-agent.l4 { background-position: -225px 75px; }
.level-icon-75.enlightened-agent.l5 { background-position: -300px 75px; }
.level-icon-75.enlightened-agent.l6 { background-position: -375px 75px; }
.level-icon-75.enlightened-agent.l7 { background-position: -450px 75px; }
.level-icon-75.enlightened-agent.l8 { background-position: -525px 75px; }
.level-icon-75.enlightened-agent.l9 { background-position: -600px 75px; }
.level-icon-75.enlightened-agent.l10 { background-position: -675px 75px; }
.level-icon-75.enlightened-agent.l11 { background-position: -750px 75px; }
.level-icon-75.enlightened-agent.l12 { background-position: -825px 75px; }
.level-icon-75.enlightened-agent.l13 { background-position: -900px 75px; }
.level-icon-75.enlightened-agent.l14 { background-position: -975px 75px; }
.level-icon-75.enlightened-agent.l15 { background-position: -1050px 75px; }
.level-icon-75.enlightened-agent.l16 { background-position: -1125px 75px; }

.link {
    text-decoration: underline;
}

.link.active {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.link.active:hover { cursor: default; }
.link:hover { cursor: pointer; }

.loading {
    display: block;
    height: 220px;
    width: 220px;
    background: url("./resources/images/ADA.gif") no-repeat;
    background-position: center;
    margin: 0 auto;
}

.loading.110 {
    height: 110px;
    width: 110px;
    background-size: 110px 110px;
}

.summary {
    text-align: center;

    > * {
        display: inline-block;
    }

    > p {
        display: block;
    }

    .badge-remaining, .rate {
        margin-top: 10px;
    }
    
    img.badge-icon {
        vertical-align: middle;
    }

    .next-badge {
        position: relative;

        p {
            z-index: 100;
            position: absolute;
            color: white;
            font-weight: bold;
            left: 13px;
            top: 0px;
        }
    }

    .badge-prediction {
        font-size: 95%;
        margin-top: 10px;
    }

    div:nth-child(1), div:nth-child(3) {
        margin: 0 auto;
    }
}

.tabs {
    border-top: 5px solid fadeout(@text-color, 50%);
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;

    li {
        display: inline;

        a {
            color: @text-color;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 20px;
        }

        a.selected {
            background: fadeout(@text-color, 65%);
        }
    }
}

#terms {
    margin: 0 auto;
    max-width: 450px;
    text-align: left;
}

.upcoming-badge {
    color: white;
    padding: 5px 0;
    height: ~"@{upcoming-badge-height}px";

    .badge-display {
        float: left;
        position: relative;
    }

    .time-remaining {
        font-size: 110%;
        padding-top: ~"@{upcoming-badge-time-margin}px";
        padding-left: 80px;
    }
}

.ui-datepicker {
    background: linear-gradient(to bottom, #0ea0ab -25%, #20474B 15%, #20474B 85%, #0ea0ab 125%);
    border: 2px solid rgba(0, 216, 225, 1);

    > * {
        margin: 5px;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
        color: @header-color;
        cursor: pointer;
        font-size: 75%;
    }

    .ui-datepicker-prev {
        float: left;

        span:before {
            content: "< ";
        }
    }

    .ui-datepicker-next {
        float: right;

        span:after {
            content: " >";
        }
    }

    .ui-datepicker-title {
        clear: both;
        color: @header-color;
        font-weight: bold;
        text-align: center;
    }

    .ui-datepicker-calendar {
        td, th {
            text-align: center;
            width: 25px;
        }

        .ui-datepicker-unselectable {
            opacity: 0.25;
        }
    }

}
